<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head('Noend','')">
</head>
<body class="fix-header card-no-border fix-sidebar">
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar" th:replace="common/common :: topbar">
    </header>
    <aside class="left-sidebar" th:replace="common/common :: left-sidebar">
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">企业管理</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">主页</a></li>
                        <li class="breadcrumb-item">销售管理</li>
                        <li class="breadcrumb-item active">企业管理</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i
                            class="ti-settings text-white"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-info">
                            <h4 class="m-b-0 text-white">修改企业信息</h4>
                        </div>
                        <div class="card-body">
                            <form action="#">
                                <div class="form-body">
                                    <h3 class="card-title">企业信息</h3>
                                    <hr>
                                    <div class="row p-t-20">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">企业名称</label>
                                                <input type="hidden" id="id" name="id" th:value="${company.id}"/>
                                                <input type="text" id="name" name="name" th:value="${company.name}" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">地址</label>
                                                <input type="text" id="address" name="address" th:value="${company.address}" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">统一信用代码</label>
                                                <input type="text" id="uniformCreditCode" name="uniformCreditCode"  th:value="${company.uniformCreditCode}" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">电话</label>
                                                <input type="text" id="phone" name="phone" class="form-control" th:value="${company.phone}"  placeholder="0">
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="control-label">座机</label>
                                                <input type="text" id="landline" name="landline" class="form-control" th:value="${company.landline}" placeholder="0">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row p-t-20">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">备注</label>
                                                <input type="text" id="remark" name="remark" th:value="${company.remark}" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row p-t-20">

                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <!--/row-->
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" class="btn btn-success " id="datasubmit"><i class="fa fa-check"></i> 提交</button>
                                        <button type="button" class="btn btn-inverse">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="common/common :: js('')"></div>
<!--使用内联-->
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        //如果没有值 赋值 ''
        let date = /*[[${commodity.validUntil}]]*/ '';
        $("#validUntil").val(new Date(date).Format("yyyy-MM-dd"));
    })
    /*]]>*/
</script>
<script>
    $(function () {
        $("#datasubmit").click(function () {
            alert();
            $.ajax({
                url: "/sales/company/modify",
                dataType: "json",
                type: "post",
                data: {
                    "id":$("#id").val(),
                    "name": $("#name").val(),
                    "address": $("#address").val(),
                    "uniformCreditCode": $("#uniformCreditCode").val(),
                    "phone": $("#phone").val(),
                    "landline": $("#landline").val(),
                    "remark": $("#remark").val(),
                },
                success: function (result) {
                    if (result.code == 1) {
                        alert("修改成功！");
                        window.location.href = '/sales/company/list';
                    }
                }
            })
        })
    })
</script>
</body>

</html>