<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>原始打印</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css">
    <link rel="stylesheet" href="/static/css/print-content.css">
</head>
<body>
<button class="btn btn-success" id="print-content-btn">打印</button>
<div id="print-content">
    <table class="table" id="print-table" cellpadding="0" cellspacing="0">
        <thead class="tdbn">
        <tr class="tdbn" style="height: 50px">
            <td class="tdc tdbn" colspan="10" style="font-size: 30px;">江西大药房生物科技有限公司产品出库单</td>
        </tr>
        </thead>
        <tbody class="tdbn">
        <tr style="height: 30px"></tr>
        <tr class="tdbn" style="font-size: 20px; ">
            <td class="tdl tdbn" colspan="7" th:text="'收货单位：'+${order.receiptName}"></td>
            <td class="tdbn" colspan="3" th:text="'供货日期：'+${#dates.format(order.createTime,'yyyy年MM月dd日')}"></td>
        </tr>
        <tr class="tdbn " style="font-size: 20px; ">
            <td class="tdl tdbn" colspan="7">供货单位：江西大药房生物科技有限公司</td>
            <td class="tdbn" colspan="3">公司电话：0796-2516666</td>
        </tr>
        <tr   style="height:30px;font-size: 20px;">
            <td class="tdc tdblts">产品名称</td>
            <td class="tdc tdblts" width="50">规格</td>
            <td class="tdc tdblts" width="50">单位</td>
            <td class="tdc tdblts" width="50">数量</td>
            <td class="tdc tdblts" width="50">单价</td>
            <td class="tdc tdblts" width="50">金额</td>
            <td class="tdc tdblts" width="180">卫生许可证</td>
            <td class="tdc tdblts">生产批号</td>
            <td class="tdc tdblts">有效期至</td>
            <td class="tdc tdblts tdbrs " width="50">质量</td>
            <td rowspan="12">一<br/>存<br/>根<br/><br/>二<br/>客<br/>户<br/><br/>三<br/>回<br/>单</td>
        </tr>
        <tr  style="font-size: 20px; height: 40px;" th:each="r:${outboundOrders}">
            <td class="tdl tdblts" th:text="${r.commodityName}"></td>
            <td class="tdc tdblts" th:text="${r.commodityNorm}"></td>
            <td class="tdc tdblts" th:text="${r.commodityUnit}"></td>
            <td class="tdc tdblts" th:text="${r.amount}"></td>
            <td class="tdc tdblts" th:text="${r.unitPrice}"></td>
            <td class="tdc tdblts" th:text="${#numbers.formatDecimal((r.unitPrice*r.amount),1,2)}"></td>
            <td class="tdc tdblts" th:text="${r.commodityHealthPermit}">卫生许可证</td>
            <td class="tdc tdblts" th:text="${r.commodityLotNumber}">生产批号</td>
            <td class="tdc tdblts" th:text="${r.commodityValidUntil}">有效期至</td>
            <td class="tdc tdblts tdbrs" th:text="${r.commodityQuality}">质量</td>
        </tr>

        <tr  th:if="${outboundOrderSize} lt 2" style="height: 40px">
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts"></td>
            <td class="tdblts tdbrs tdh"></td>
        </tr>
        <tr  th:if="${outboundOrderSize} lt 3" style="height: 40px">
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts "></td>
            <td class="tdblts tdbrs "></td>
        </tr>

        <tr  style="font-size: 20px; height: 40px;">
            <td class="tdblts"  colspan="5" th:text="'本页合计小写：'+${order.lumpSum}"></td>
            <td class="tdblts tdbrs" colspan="5" th:text="'本单号总计金额小写：'+${order.lumpSum}"></td>
        </tr>
        <tr style="font-size: 20px; height: 40px;">
            <td class="tdblts tdbbs" colspan="5" th:text="'本页合计大写：'+${order.lumpSumChinese}"></td>
            <td class="tdblts tdbbs tdbrs" colspan="5" th:text="'本单号总计金额大写：'+${order.lumpSumChinese}"></td>
        </tr>
        <tr class="tdbn" style="font-size: 20px; ">
            <td colspan="10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司地址：江西省古安市永丰县城北坪下</td>
        </tr>
        <tr class="tdbn" style="font-size: 20px; ">
            <td colspan="10" th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;收货单位地址：'+${order.receiptAddress}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.print/1.6.0/jQuery.print.min.js"></script>
<script>
    $(function () {
        //打印
        $('#print-content-btn').on("click", function () {
            $("#print-content").print({
                globalStyles: true,
                mediaPrint: false,
                stylesheet: null,
                noPrintSelector: ".no-print",
                iframe: false,
                append: null,
                prepend: null,
                manuallyCopyFormValues: true,
                deferred: $.Deferred(),
                timeout: 750,
                title: null,
                doctype: '<!doctype html>'
            })
        });
    });
</script>
</body>
</html>